/* style */
.domain{
  color: #69797E;  /* #5C6BC0 */
}
body{
  background-image: linear-gradient(95deg, white 90%, #F5F5F5 10%);
}
.coloredbox{
  /*background-color: #2D7D9A; /* #9FA8DA */
  background-image: linear-gradient(110deg,#0099BC 40%, #2D7D9A 80%);
}
.coloredbox2{
  /*background-color: #2D7D9A;/* #9FA8DA */
  background-image: linear-gradient(110deg,#0099BC 40%, #2D7D9A 80%);
}
.topbar{
  background-color: #333132; /* #5C6BC0 */
  color: #333132;
}

/* -------------------------------------------------------------------------- */


.coloredbox,.coloredbox2{
  width: 99%;
  padding-bottom: 70px;
  padding-top: 60px;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.tableCenter {
  margin-left:auto;
  margin-right:auto;
}

.center {
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.centerInlineBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  font-family: arial;
}

.elem {
  margin-top: 20px;
}

div.subtitle {
  margin-top: 40px;
  font-weight: bold;
}

div.subtitle2 {
  margin-top: 20px;
  font-size: 25px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadowSmall {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

button,
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #45a049;
}

.buttonSmall {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buttonSmall:hover {
  background-color: #45a049;
}

.buttonSmallRed {
  background-color: #af4c4c;
  border: none;
  color: white;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buttonSmallRed:hover {
  background-color: #a04545;
}

div.error {
  margin-top: 10px;
  color: red;
}

.square {
height: 5px;
width: 290px;
background-color: #555;
  transform: rotate(0deg);
}
.square2 {
height: 5px;
width: 100px;
background-color: #555;
  transform: rotate(90deg);
}
.square2:hover{
click();
}
.square_anim{
 background-image: repeating-linear-gradient(
  -45deg,
  hsl(215,30%,60%) 0%,  /* blau */
  hsl(120,30%,90%) 15%, /* grün */
  hsl(30,50%,90%) 30%,  /* rosa */
  hsl(215,30%,60%) 45%  /* blau */);
animation: animation2 5s infinite;
animation-timing-function: linear;
background-size: 30%;
}
.square_anim2{
 background-image: repeating-linear-gradient(
  -45deg,
  hsl(215,30%,60%) 0%,  /* blau */
  hsl(120,30%,90%) 15%, /* grün */
  hsl(30,50%,90%) 30%,  /* rosa */
  hsl(215,30%,60%) 45%  /* blau */);
animation: animation3 5s infinite;
animation-timing-function: linear;
background-size: 30%;
}
@keyframes animation3{
  0% {background-position: 85%}
  100% {background-position: 0%}
}
@keyframes animation2{
  0% {background-position: 0%}
  100% {background-position: 85%}
}

.square2_anim{
 background-image: repeating-linear-gradient(
  -45deg,
  hsl(215,30%,60%) 0%,  /* blau */
  hsl(120,30%,90%) 15%, /* grün */
  hsl(30,50%,90%) 30%,  /* rosa */
  hsl(215,30%,60%) 45%  /* blau */);
animation: animation4 1s infinite;
animation-timing-function: linear;
background-size: 50%;
}
.square2_anim2{
 background-image: repeating-linear-gradient(
  -45deg,
  hsl(215,30%,60%) 0%,  /* blau */
  hsl(120,30%,90%) 15%, /* grün */
  hsl(30,50%,90%) 30%,  /* rosa */
  hsl(215,30%,60%) 45%  /* blau */);
animation: animation5 1s infinite;
animation-timing-function: linear;
background-size: 50%;
}
@keyframes animation5{
  0% {background-position: 100%}
  100% {background-position: 0%}
}
@keyframes animation4{
  0% {background-position: 0%}
  100% {background-position: 100%}
}
.myBtn:focus{
  outline: none;
}
