div.title, p.title {
  font-size: 38px;
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 39px;
  margin-left: 39px;
  margin-bottom: 50px;
}

.exo {
  font-family: 'Exo', sans-serif;
}

div.toptitle {
  font-size: 38px;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 40px;
}

div.article {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  border: solid 8px #f5f5f5;
}

div.article2 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 620px;
  background-color: #EEEEEE;
  border-radius: 10px;
}

.monospace {
  font-family: monospace;
}

div.art_title {
  background-color: white;
  position: relative;
  width: 170px;
  height: 25px;
  text-align: center;
  top: -22px;
  left: 50px;
  font-size: 28px;
  font-weight: bold;
}

div.marginBottom {
  margin-bottom: 30px;
}

div.art_title_small {
  background-color: white;
  position: relative;
  width: 80px;
  height: 25px;
  text-align: center;
  top: -22px;
  left: 50px;
  font-size: 28px;
  font-weight: bold;
}

p.text {
  font-family: Lucida;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}

button.domain {
  font-size: 200%;
  border: none;
  background-color: #EEEEEE;
  padding-left: 0px;
  padding-right: 1%;
}

div.border_url {
  border-radius: 25px;
  background: #EEEEEE;
  /*width: 1300px;*/
  width: 65%;
  height: 75px;
  box-shadow: 5px 5px 5px grey;
}

button:hover {
  text-decoration: underline;
  animation: domain 1s infinite;
}

table.portTable {
  margin-top: 5px;
}

table.portTable th {
  font-size: 18px;
  color: white;
  background: #0099BC;
  border: black solid 1px;
  padding: 5px;
}

table.portTable td {
  font-size: 18px;
  border: black solid 1px;
  padding: 5px;
}

@keyframes domain {
  0% {
    color: #e57373;
  }

  50% {
    color: #f44336;
  }

  100% {
    color: #e57373;
  }
}

button:focus {
  outline: none;
}

header.topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: right;
}

article {
  margin-top: 100px;
  padding: 10px;
  font-family: Lucida;
}

textarea.validator {
  resize: none;
  width: 600px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
}

textarea.validator:focus {
  outline: none;
}

p.title {
  font-size: 40px;
}

img.navBack {
  float: left;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

a.none {
  text-decoration: none;
}
